
   <div class="py-5 ">
    <div class="container">
      <div class="row " style="margin-top: 0%;">
          <div class="col-lg-6 col-md-6   responsive" >
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/4X_IW3kqr3k?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
            </div>
              
            
                
    

          </div>

          <div class="col-lg-6 col-md-6" >
              <h2 style="margin-top: 10%;" > {{'home.video.title'  | translate}} </h2>
              <p class="lead"> {{'home.video.text'  | translate}}
                <br /><br />
                <a href="" class=""> {{'home.video.learn_more'  | translate}}</a>
              </p>
    
    
            </div>
      
      </div>
    </div>
  </div>





  