

<div class="container">
    <div class="card ">
      <div class="row ">
  
        <div class="col-sm-9">
          <div class="card-block">
            <!--           <h4 class="card-title">Small card</h4> -->
           
            <p> {{'home.information_cards.first'  | translate}}</p>
            <a href="#" class="btn btn-primary btn-sm">{{'home.information_cards.read_more' | translate}}</a>
          </div>
        </div>
  
        <div class="col-sm-3">
        </div>
      </div>
    </div>
  
   
      <div class="card ">
        <div class="row">
          <div class="col-sm-9">
            <img class="d-block " src="https://picsum.photos/150?image=641" alt="" style="max-width: 76%; float:left;">
          </div>
          <div class="col-sm-3">
            <div class="card-block">
              <!--           <h4 class="card-title">Small card</h4> -->
              <p> {{'home.information_cards.second'  | translate}}</p>
           
              
              <a href="#" class="btn-primary btn-sm " >{{'home.information_cards.read_more' | translate}}</a>
            </div>
          </div>
   
        </div>
      </div>
  
      <div class="card ">
        <div class="row ">
    
          <div class="col-sm-9">
            <div class="card-block">
              <!--           <h4 class="card-title">Small card</h4> -->
            
              <p>  {{'home.information_cards.third'  | translate}}</p>
              <a href="#" class="btn btn-primary btn-sm">{{'home.information_cards.read_more' | translate}}</a>
            </div>
          </div>
    
          <div class="col-sm-3">
            <img class="d-block " src="https://picsum.photos/150?image=380" alt="" style="max-width: 76%; float: right ; ">
          </div>
        </div>
  
  
  
      
        </div>
        <div class="card " >
          <div class="row">
            <div class="col-sm-9">
              <img class="d-block " src="https://picsum.photos/150?image=641" alt="" style="max-width: 76%; float:left;">
            </div>
            <div class="col-sm-3">
              <div class="card-block">
               
                <p>  {{'home.information_cards.fourth'  | translate}}</p>
             
                
                <a href="#" class="btn-primary btn-sm " >{{'home.information_cards.read_more' | translate}}</a>
              </div>
            </div>
     
          </div>



  
  
       
     
     
     
     
     
      </div>
    
   
   <br>
  <br>
  