<div class="container" style=" margin-top: 3%;">
	<div class="row">
	    <br/>
	   <div class="col text-center">
		<h3> {{'home.numbred_cards.title'  | translate }}</h3>
	
		</div>
		
             
		
	</div>
		<div class="row text-center">
	        <div class="col">
	        <div class="counter">
      <i class="fa  fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="100" data-speed="1500" style="font-weight: bold;color:rgb(148, 39, 190);">1<span>K+</span> </h2>
       <p class="count-text ">{{'home.numbred_cards.first'  | translate }} </p>
    </div>
	        </div>
              <div class="col">
               <div class="counter">
      <i class="fa  fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"  style="font-weight: bold;color:rgba(18, 40, 236, 0.993);">8<span >B+</span></h2>
      <p class="count-text ">{{'home.numbred_cards.second'  | translate }} </p>
    </div>
              </div>
              <div class="col">
                  <div class="counter">
      <i class="fa  fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="11900" data-speed="1500" style="font-weight: bold;color:rgb(148, 39, 190);">5<span>B+</span></h2>
      <p class="count-text "> {{'home.numbred_cards.third'  | translate }} </p>
    </div></div>
              <div class="col">
              <div class="counter">
      <i class="fa fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="157" data-speed="1500" style="font-weight: bold; color:rgba(18, 40, 236, 0.993);">6<span>B+</span></h2>
      <p class="count-text ">{{'home.numbred_cards.fourth'  | translate }}  </p>
              </div>
              </div>
         </div>
</div>

